In [1]:
import pandas as pd

In [4]:
boston = pd.read_csv("crime.csv", encoding="latin")
boston.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

In [29]:
boston.shape

(319073, 17)

In [25]:
boston["OFFENSE_CODE_GROUP"].value_counts()

OFFENSE_CODE_GROUP
Motor Vehicle Accident Response              37132
Larceny                                      25935
Medical Assistance                           23540
Investigate Person                           18750
Other                                        18075
                                             ...
HUMAN TRAFFICKING                                7
INVESTIGATE PERSON                               4
Biological Threat                                2
HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE        2
Burglary - No Property Taken                     2
Name: count, Length: 67, dtype: int64

# Using with

In [14]:
def read_large_file(file_object):
    while True:
        data = file_object.readline()

        if not data:
            break
        
        yield data

In [28]:
offense_code_group_count = dict()
with open("crime.csv") as file:
    for line in read_large_file(file):
        row = line.split(sep=",")
        offense_code_group = row[2]
        if offense_code_group in offense_code_group_count.keys():
            offense_code_group_count[offense_code_group] += 1
        else:
            offense_code_group_count[offense_code_group] = 1
offense_code_group_count

{'OFFENSE_CODE_GROUP': 1,
 'Larceny': 25935,
 'Vandalism': 15415,
 'Towed': 11287,
 'Investigate Property': 11124,
 'Motor Vehicle Accident Response': 37132,
 'Auto Theft': 4851,
 'Verbal Disputes': 13099,
 'Robbery': 4624,
 'Fire Related Reports': 1920,
 'Other': 18075,
 'Property Lost': 9751,
 'Medical Assistance': 23540,
 'Assembly or Gathering Violations': 955,
 'Larceny From Motor Vehicle': 10847,
 'Residential Burglary': 5606,
 'Simple Assault': 15826,
 'Restraining Order Violations': 1607,
 'Violations': 6095,
 'Harassment': 4007,
 'Ballistics': 981,
 'Property Found': 3925,
 'Police Service Incidents': 2781,
 'Drug Violation': 16548,
 'Warrant Arrests': 8407,
 'Disorderly Conduct': 2611,
 'Property Related Damage': 912,
 'Missing Person Reported': 3797,
 'Investigate Person': 18750,
 'Fraud': 5829,
 'Aggravated Assault': 7806,
 'License Plate Related Incidents': 560,
 'Firearm Violations': 1777,
 'Other Burglary': 461,
 'Arson': 94,
 'Bomb Hoax': 75,
 'Harbor Related Incidents': 212,
 'Counterfeiting': 1454,
 'Liquor Violation': 1052,
 'Firearm Discovery': 698,
 'Landlord/Tenant Disputes': 968,
 'Missing Person Located': 4958,
 'Auto Theft Recovery': 1051,
 'Service': 285,
 'Operating Under the Influence': 574,
 'Confidence Games': 3147,
 'Search Warrants': 966,
 'License Violation': 1701,
 'Commercial Burglary': 1337,
 'HOME INVASION': 77,
 'Recovered Stolen Property': 1455,
 'Offenses Against Child / Family': 545,
 'Prostitution': 207,
 'Evading Fare': 407,
 'Prisoner Related Incidents': 253,
 'Homicide': 161,
 'Embezzlement': 296,
 'Explosives': 27,
 'Criminal Harassment': 131,
 'Phone Call Complaints': 31,
 'Aircraft': 36,
 'Biological Threat': 2,
 'Manslaughter': 8,
 'Gambling': 8,
 'INVESTIGATE PERSON': 4,
 'HUMAN TRAFFICKING': 7,
 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE': 2,
 'Burglary - No Property Taken': 2}

# Using pandas iterators